body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 1.2rem 0.2rem;
}

.main-content{
    background-color: #121212;
    /* To get all the space that is left */
    flex:1 ;
    border-radius: 1rem;
    overflow: hidden auto;
    padding-bottom: 3rem;
}
.music-player{
    background-color: #121212;
    width: 100vw;
    height: 10%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;  
    padding: 0.5rem 1rem;
    align-items: center;
    z-index: 1;
    box-sizing: border-box;  
}
/* Sidebar */
.sidebar{
    background-color:#000000;
    width: 30vw;
    margin: 0.2rem;
    margin-right: 0.4rem;
}

.nav{
    background-color:#121212;
      /* 1 rem = 16px (root) */
    border-radius: 1rem;
    height: 15vh;
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.nav-search ,.lib-option,.icons i ,.icons img{
    opacity: 0.5;
    cursor: pointer;
}
.nav-search:hover  ,.lib-option:hover,.icons i:hover ,.icons img:hover {
    opacity: 1;
}
.nav-option{
    line-height: 2.5rem;
    padding: 0.5rem 0.75rem;
}
.nav-option a , .lib-option a{
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
}

.nav-option i , .lib-option i{
    font-size: 1.25rem;
    margin-right: 1rem;
}
.lib-option a{
    vertical-align: top;
}
.library{
    background-color:#121212;
      /* 1 rem = 16px (root) */
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.library-icon{
    width: 1.25rem;
    margin-right: 1rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
}
.icons{
    font-size: 1.25rem;
    display: flex;
    gap: 1rem;
}

.lib-arrow{
    transform: rotate(180deg);
    height: 1.25rem;
    vertical-align: bottom;
}
.lib-container{
    background-color:#232323;
    /* 1 rem = 16px (root) */
    border-radius: 0.7rem;
    padding:0.75rem 1rem;
    height: 8.5rem;
    margin: 0.75rem 0 1.5rem 0;
}

.lib-heading{
    font-size: 1.25rem;
    font-weight: bold;
}
.lib-text{
    font-size: 0.75rem;
    opacity: 0.75;
}
.btn{
    padding: 0.25rem 1rem;
    border:none;
    border-radius: 15px;
    cursor: pointer;
    width: fit-content;
    height: 2rem;
    min-height: fit-content;
}
.lib-btn{
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}
/* Main - Nav */
.main-nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65vw;
    background-color:#121212;
    padding: 1rem 1.5rem;
    z-index: 1;
}
.badge-container{
    border-radius: 50%;
    background-color: #000000;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    display: flex; 
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    cursor: pointer;
}
.main-nav-btns{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 1.7rem;
}
.main-nav-icons{
    display: flex;
    gap: 0.5rem;
}

.btn-install-app{
background-color: #000000;
color: #ffffff;
}

.list-head{
    margin: 0 1.5rem;
}
.card{
    background-color:#2323237d;
    border-radius: 1rem;
    margin: 0.5rem 0;
    width: 15rem;
    margin: 1.5rem;
    height: 22rem;
    min-height: fit-content;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    
}
.img-container{
    position: relative;
}
.card:hover{
    background-color:#9191912d;
}
.card-subtitle{
    font-size: 1rem;
    opacity: 0.75;
}
.card img{
    width: 100%;
    border-radius: 1rem;
}
.card:hover .overlay-image{
    opacity: 0.8;
}
.overlay-image{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    filter: invert(71%) sepia(85%) saturate(1676%) hue-rotate(86deg) brightness(200%) contrast(106%);
    width: 22% !important;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
}
.card-head-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trending-cards,.featured-cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

}
.list-head{
    cursor: pointer;
}
.btn-show-all{
    background-color: transparent;
    color: #858383;
}
.card-listing{
    display: flex;
    flex-wrap: wrap;
}
.featured-cards .list-head:hover{
text-decoration: underline;
}
.main-footer-line{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 90%;
    border-top: 1px solid #ffffff;
    opacity: 0.5;
}

/* Footer */
.album{
    width: 20%;
    display: flex;
    gap: 8%;
    justify-content: flex-start;
    padding-left: 1%;
    align-items: center;
}
.controls{
    width: 20%;
    display: flex;
    gap: 8%;
    justify-content: flex-end;
    padding-left: 1%;
}
.album-img{
    width: 50px;
    height: 50px;
}
.album-img img{
    width: 100%;
    height: 100%;
}
.album-info{
    display: flex;
    flex-direction: column;
    line-height: 20px;
}
.album-info p{
    margin: 0;
    font-size: 0.75rem;
    opacity: 0.75;
}
.album-info h6{
    margin: 0;
    margin-block: 0;
}
.album-controls{
    display: flex;
    gap: 1rem;
}
.volume-slider{
    accent-color: #1bd760;
}
.player{
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
}
.player-controls{
display: flex;
    justify-content: space-between;
    width: 20%;
    margin-bottom: 1.7%;
    align-items: center;
}
.player-bar{
    display: flex;
    width: 70%;
    margin-left: 10%;
}
.player-control-icon{
    height: 1rem;
    opacity: 0.7;
    cursor: pointer;
}
.player-control-icon:hover{
    opacity: 1;
}
.play-icon{
    opacity: 1;
    height: 2.3rem;
    transition: height 0.2s ease;
}
.play-icon:hover{
    opacity: 0.9;
    height: 2.4rem;
}
.progress{
    width: 70%;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
}
.progress::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius:50% ;
    background-color: #1bd760;
    margin-top:-6px;
}
.sidebar-checkbox{
    display: none;
}

.menu-btn ,.sidebar-checkbox:checked ~ .menu-btn,.cross-btn{
    display: none;
}
.cross-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.2rem;
    opacity: 0.7;
}
.sidebar-checkbox:checked ~ .sidebar{
    display: block;
    position: absolute;
    z-index: 12;
    background: black;
    top: 0;
    width: 80%;
    height: 100%;
    }
.sidebar-checkbox:checked ~ .sidebar .cross-btn{
    display: block;
  
}
/* Responsive */
@media (max-width:1400px){
    .lib-container{
        height: 9.5rem;
    }
}
@media (max-width:1017px){
    .lib-container{
        height: 10.5rem;
    }
}
@media (max-width:860px){
    .lib-container{
        height: 11.5rem;
    }
}

@media(max-width: 1000px){
    #resp-hide,.sidebar, .album,.controls{
      display: none;
    }
    .player-controls{
        width: 34%;
    }
    .menu-btn{
        display: block;
        font-size: 1.4rem;
        position: absolute;
        z-index: 10;
        top: 30px;
        left: 30px;
    }
    .main-nav{
        width: 98vw;
    }
    .badge-container{
        margin-left: 2rem;
    }
    .main{
        padding: 0.7rem 0.2rem
    }
    .library , .nav{
        background-color: transparent;
    }
    .progress{
        width: 53%;

    }
  }